body{
	font-family: Georgia, 'Times New Roman','Trebuchet MS',Verdana, Arial, sans-serif;
	background-color: #f2f2f2;
	padding: 3em;
}

div#left{
	width: 580px;
	float: left;
}

div#right{
	width: 300px;
	border: 1px black solid;
	background-color: #dfdfff;
	float: right;
}

h1, h2, h3,h4{
	border-top: 2px black solid;
	border-bottom: 3px black solid;
	border-left: 1px black solid;
	background-color: #c8c8e8;
	margin-right: 3em;
	padding: 3px;
}
h2{
	margin-left: 0.5em;
}
h3{
	margin-left: 1em;
}
h4{
	margin-left: 1.5em;
}
ul{
	border: 1px black solid;
	background-color: #d9d9ff;
	margin-left: 2em;
	margin-bottom: 5px;
	margin-right: 5em;
}
ul li{
	margin-bottom: 5px;
}
p{
	background-color: #FFFFFF;
	margin:2px;
	padding:5px;
	border: 1px #cfcfff dotted;
}

div.text{
	margin-left: 4em;
	margin-right:3em;
/*	font-size: small; */
	line-height: 1.5em;
}
table{
	border: 1px #282828 solid;
}
tr, td{
	padding: 5px;
}

hr{
	background-color: orange;
	margin-top: 3em;
}
pre{
	font-size: large;
}

dl dt{
	margin-top: 1em;
	background-color: #e8e8ff;
}